.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:transparent;
}

#bande{
    -fx-alignment: center;
    -fx-font-size : 3em;
}

.tab-pane {
  -fx-tab-min-width: 24.5em;
  -fx-tab-max-width:24.5em;
  -fx-alignment: center;
  -fx-tab-min-height:3em;
  -fx-tab-max-height:3em;
}

.tab {
  -fx-font-family: Arial;
  -fx-font-size: 18;
}

.tab:selected {
    -fx-background-color:royalblue;
}

#root-tab4{
    -fx-alignment : center;
    -fx-padding : 8em 0 0 5em;
}

#text-tab4{
    -fx-font-size : 2em;
}

#label-tab4{
    -fx-font-size : 1.2em;
}

#title-tab4{
    -fx-padding : 0 0 3em 6em;
    -fx-font-size : 1.5em;
}

#submit-tab4{
    -fx-font-size: 1.5em;
    -fx-font-family:courier_new;   
    -fx-text-fill:White;  
    -fx-border-color: Wheat; 
    -fx-border-radius: 5;
}

#HBox-tab4{
    -fx-alignment : center;
    -fx-padding : 6em 0 0 2em;
    -fx-font-size : 1.5em;
}

#label-sub{
    -fx-alignment: center;
    -fx-max-width: 2em;
    -fx-font-size : 1.5em;
}

#text-sub{
    -fx-alignment: center;
    -fx-max-width: 2em;
    -fx-font-size : 1.5em;
}

#sub{
    -fx-padding : 0 0 -2em 0;
}

#title-tab2{
    -fx-padding : 0 0 0 0em;
    -fx-font-size : 2em;
    -fx-alignment : center;
}

#children-tab2{
    -fx-padding : 3em 0 0 0em;
    -fx-font-size : 3em;
    -fx-alignment : center;
}

#regular-tab2{
    -fx-padding : 3em 0 0 0em;
    -fx-font-size : 3em;
    -fx-alignment : center;
}

#senior-tab2{
    -fx-padding : 3em 0 0 0em;
    -fx-font-size : 3em;
    -fx-alignment : center;
}
/*
#d10{
    -fx-padding : 3em 0 0 15em;
    -fx-font-size : 2em;
}

#d20{
    -fx-padding : 3em 0 0 10em;
    -fx-font-size : 2em;
}

#d30{
    -fx-padding : 6em 0 0 4em;
    -fx-font-size : 2em;
}

#title2-tab2{
    -fx-padding : 2em 0 0 5em;
    -fx-font-size : 2em;
}

#text-tab2{
    -fx-padding : 2em 0 0 3em;
    -fx-font-size : 2em;
}*/

#label-co{
    -fx-font-size : 3em;
}

#lab-search{
    -fx-font-size : 2em;
}

#bar-search{
    -fx-font-size : 2em;
    -fx-max-width: 3em;
}

#vbox-search{
    -fx-padding : 2em 0 0 0;
}

#but-search{
    -fx-font-size : 2em;
}

#disp-movie{
    -fx-font-size : 1.8em;
}
#disp-button{
    -fx-font-size : 1.4em;
}
#search{
    -fx-padding : 2em 0 0 2em;
}