.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:transparent;
}

.tab-pane {
  -fx-tab-min-width: 24.5em;
  -fx-tab-max-width:24.5em;
  -fx-alignment: center;
  -fx-tab-min-height:3em;
  -fx-tab-max-height:3em;
  -fx-padding: 0 0.5em 0 0.5em;
}

.tab {
  -fx-font-family: Arial;
  -fx-font-size: 18;
}

.tab:selected {
    -fx-background-color:royalblue ;
}

#root-tab4{
    -fx-alignment : center;
    -fx-padding : 15em 0 0 0;
    
}

#text-tab4{
    -fx-font-size : 2em;
}

#label-tab4{
    -fx-font-size : 1.2em;
}

#title-tab4{
    -fx-padding : 0 0 3em 6em;
    -fx-font-size : 1.5em;
    -fx-alignment : bottom-right;
}

#title-tab2{
    -fx-padding : 0 0 0 26em;
    -fx-font-size : 4em;
    -fx-alignment : bottom-right;
}

#children-tab2{
    -fx-padding : 7em 0 0 10em;
    -fx-font-size : 4em;
}

#regular-tab2{
    -fx-padding : 7em 0 0 45em;
    -fx-font-size : 4em;
}

#senior-tab2{
    -fx-padding : 7em 0 0 81em;
    -fx-font-size : 4em;
}

#d10{
    -fx-padding : 12em 0 0 49em;
    -fx-font-size : 4em;
}

#d20{
    -fx-padding : 12em 0 0 84em;
    -fx-font-size : 4em;
}

#d30{
    -fx-padding : 12em 0 0 14em;
    -fx-font-size : 4em;
}

#title2-tab2{
    -fx-padding : 5em 0 0 43em;
    -fx-font-size : 2.5em;
}

#text-tab2{
    -fx-padding : 9em 0 0 14em;
    -fx-font-size : 2em;
}