.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:transparent;
}

.tab-pane {
  -fx-tab-min-width: 24.5em;
  -fx-tab-max-width:24.5em;
  -fx-alignment: center;
  -fx-tab-min-height:3em;
  -fx-tab-max-height:3em;
  -fx-padding: 0 0.5em 0 0.5em;
}

.tab {
  -fx-font-family: Arial;
  -fx-font-size: 18;
}

.tab:selected {
    -fx-background-color:royalblue ;
}

#root-tab4{
    -fx-alignment : center;
    -fx-padding : 14em 0 0 7.8em;
}

#text-tab4{
    -fx-font-size : 2em;
}

#label-tab4{
    -fx-font-size : 1.2em;
}

#title-tab4{
    -fx-padding : 0 0 3em 6em;
    -fx-font-size : 1.5em;
}

#submit-tab4{
    -fx-font-size: 1.5em;
    -fx-font-family:courier_new;   
    -fx-text-fill:White;  
    -fx-border-color: Wheat; 
    -fx-border-radius: 5;
}

#HBox-tab4{
    -fx-alignment : center;
    -fx-padding : 6em 0 0 2em;
    -fx-font-size : 1.5em;
}

#label-sub{
    -fx-alignment: center;
    -fx-max-width: 2em;
    -fx-font-size : 1.5em;
}

#text-sub{
    -fx-alignment: center;
    -fx-max-width: 2em;
    -fx-font-size : 1.5em;
}

#sub{
    -fx-padding : 0 0 -2em 0;
}